<p>Welcome to the MNNIT Alumni portal, 

<br>Thank You for being connected with us! We have built a new MNNIT Alumni Portal.</p> 
<ol>
<li> We found your name and details in our old-database, so your new account is automatically created by our web-team.</li>

<li> Use your existing email-ID to login.</li> 

<li> After Logging in please update your details and password.</li>

<li> Your password now is <%= @password %>. </li>
</ol>
<p>Note - Our team is working extremely hard to ensure that you get the best out of this platform. We welcome your feedback and suggestions to further improvise the concept. </p>

<p>Cheers! 
<p>Thank You for joining back!</p>

<br> MNNIT - Alumni Cell Team</p>