<div class="container" style="background-color: rgba(0,0,0,0.09);">
	<div class="row" style="margin-top: 10px;">
	    <div class="col-md-8 col-md-offset-2">
		    <div class="modal-dialog login animated">
			    <div class="modal-content">
			      <div class="modal-header">
			              
			            <h4 class="modal-title">Request to Activate!</h4>
			      </div>
			      <div class="modal-body">  
			        <div class="box">
			          <div class="content">
			          	<div class="division">
			                <div class="line l"></div>
			                <div class="line r"></div>
			            </div>
			            <div class="error"></div>
			            <div class="form">
			            	<%= render 'form' %>
			            </div>
			          </div>
			        </div>
			      </div>  
			    </div>
			</div>        
	    </div>    
	</div>
</div>