<!--
<footer class="footer-class">
    <div class="row">
        <div class="col-lg-12">
        	<p class="previous">For any queries and doubts please </p>
            <p class="next">Copyright &copy; Alumnnit 2016</p>

        </div>
    </div>
</footer>-->


    <!-- FOOTER START -->
    <div class="t3-sl t3-bot-sl t3-sl-2">
        <div class="container">

            <div class="t3-spotlight t3-spotlight-2  row">
                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="t3-module module " id="Mod100">
                        <div class="module-inner">
                            <h3 class="module-title "><span>Have Any Query?</span></h3>
                            <div class="module-ct">
                                <div class="custom">
                                    <p>Feel Free to submit a query</p>
                                    <button class="btn btn-primary"> Submit A Query</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="t3-module module contact-list " id="Mod108">
                        <div class="module-inner">
                            <h3 class="module-title "><span>Contact us</span></h3>
                            <div class="module-ct">
                                <div class="custom contact-list">
                                    <p>Id pretium sapien pellentesque est pretium neque lobortis laoreet id sed.</p>
                                    <ul class="contact-list">
                                        <li class="phone"><i class="fa fa-phone"></i><strong>Hot line: </strong><span>+1984 234 5678</span></li>
                                        <li class="email"><i class="fa fa-envelope"></i><strong>Email: </strong> <a href="mailto:noreply@yourdomain.com">noreply@yourdomain.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="t3-module module " id="Mod109">
                        <div class="module-inner">
                            <h3 class="module-title "><span>Connect with us</span></h3>
                            <div class="module-ct">
                                <div class="custom">
                                    <p>We're on Social Networks. Follow us &amp; get in touch.</p>

                                    <div class="social-list addthis_toolbox">
                                        <a class="addthis_button_facebook_follow" addthis:userid="joomlart"><i class="fa fa-facebook"></i></a>
                                        <a class="addthis_button_twitter_follow" addthis:userid="JoomlArt"><i class="fa fa-twitter"></i></a>
                                        <a class="addthis_button_google_follow" addthis:userid="joomla.org/rss.html"><i class="fa fa-google-plus"></i></a>
                                        <a class="addthis_button_rss_follow" addthis:userid="joomla.org/rss.html"><i class="fa fa-rss"></i></a>
                                        <a class="addthis_button_linkedin_follow" addthis:userid="joomla"><i class="fa fa-linkedin"></i></a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <footer id="t3-footer" class="wrap t3-footer">
        <section class="t3-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-12 copyright col-md-push-3">
                        <div class="module">
                            <small>Copyright &#169; 2016 MNNIT Allahabad Site. All Rights Reserved. Designed by <a href="#" rel="nofollow">Webteam MNNIT</a>.</small>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- FOOTER END -->