<!-- Footer -->
<footer class="footer-class">
    <div class="row">
        <div class="col-lg-12">
        	<p class="previous">For any queries and doubts please <%= link_to '<i class="fa fa-phone fa-fw" aria-hidden="true"></i>Contact Us'.html_safe, contact_path %></p>
            <p class="next">Copyright &copy; Alumnnit 2016</p>

        </div>
    </div>
</footer>

