<style type="text/css">
    .thumbnail{
        min-height: 300px;
    }
    .mainnav li{
    letter-spacing: 0;  
    margin-left: 3%;
  }
  .mainnav .nav{
    background-color: white;
  }
  .mainnav .nav-tabs > li > a{
    color: #46535e;
    text-transform: uppercase;
  }
  .mainnav .nav-tabs > li > a:hover,.nav > li > a:focus{
    color: #4c9cdf;
    border: none;
    background-color: white;
  }
  
  .mainnav .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    color: #4c9cdf ;
    border:none;
    border-bottom: 7px solid #4c9cdf;
  }
  /*.subnav li{
    letter-spacing: 0;  
    margin-left: 3%;
  }
  .subnav .nav{
    background-color: white;
  }
  .subnav .nav-tabs > li > a{
    color: #dd5138;
    text-transform: uppercase;
  }
  .subnav .nav-tabs > li > a:hover,.nav > li > a:focus{
    color: #dd5138;
    border: none;
    background-color: white;
  }
  
  .subnav .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover{
    color: #dd5138 ;
    border:none;
    border-bottom: 7px solid #dd5138;
  }
  .schedule .media{
    margin-top:1.2em;
  }
  .media-heading{
    color: #4c9cdf;
  }*/
</style>
<!-- Page Content -->
<div class="container mainnav">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>About</b>
                <small style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>MAA</b></small>
            </h1>
            <!--<ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>-->
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 3%;">
        <div class="row" style="margin-left: 22%;">
            <%= image_tag("6.jpg", alt: "MNNIT Alumni Association", class: "img-responsive img-hover") %>
            
        </div>
        <div class="row" style="margin-left: 20px; margin-right: 20px;">
            <h2 class="text-center" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>MNNIT Alumni Association.</b></h2>
            <p>The MNNIT Alumni Association (MAA) is a registered body under Uttar Pradesh Society Registration Act (Amended), 1860 with the Registration No. 182/2014-2015. MAA is aimed towards the welfare of alumni as well as the institute. It is operated by the funds contributed / donated by alumni, membership fee and Sponsorships. MAA is working as a bridge between Alumni and the Institute. The main objectives of MAA are:</p>
            <ol style="list-style: inherit;">
                <li>To promote and encourage the friendly relations between all members of the Association.</li>
                <li>To promote and encourage the members to take active interest in the activities and progress of the Institute in academics, research and innovation, and to do all they can to promote its welfare.</li>
                <li>To create an esprit de corps amongst the Alumni of the Institute.</li>
                <li>To help students of the Institute in their academic, research and innovative activities.</li>
                <li>To work for social welfare activities within its capacity.</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div style="margin-top: 6%">
        
    </div>

    <!-- Team Members -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home" style="color: #4c9cdf;font-family: 'Dosis', sans-serif;">Executive Committee</a></li>
      <li><a data-toggle="tab" href="#menu2" style="color: #4c9cdf;font-family: 'Dosis', sans-serif;">Development Team</a></li>
     <li><a data-toggle="tab" href="#menu3" style="color: #4c9cdf;font-family: 'Dosis', sans-serif;">Operation Team</a></li> 
   </ul>

    <div class="tab-content" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 3%;margin-top:1%">
      <div id="home" class="tab-pane fade in active">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Executive Committee</b></h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. Rajiv Tripathi<br>
                            <small>President (Patron) Ex-Officio, Director-MNNIT</small>
                        </h3>
                        <p>Director's Residence, Staff Colony, MNNIT Allahabad<br>Phone no. : 0532 2271102</p>
                        <ul class="list-inline">
                            <li><a href="mailto:director@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Avanish Kumar Dubey<br> 1997, Production<br>
                            <small>Vice President - I (Working President)</small>
                        </h3>
                        <p>Associate Professor, Mech Engineering Deptt. MNNIT Allahabad <br>Phone no. : 9336556602 </p>
                        <ul class="list-inline">
                            
                            <li><a href="mailto:avanish@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Er. Anurag Srivastava <br>1988, Civil<br>
                            <small>Vice President - II</small>
                        </h3>
                        <p>Zonal Business Head (North) Reliance Life Insurance F-22, Sarita Vihar New Delhi <br> Phone no. : 9555643400 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:Anurag6699@rediffmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Ramesh Pandey <br>1992, Civil<br>
                            <small>Secretary</small>
                        </h3>
                        <p>Assistant Professor, Applied Mechanics Deptt. MNNIT Allahabad <br> Phone no. : 9415351358</p>
                        <ul class="list-inline">
                            <li><a href="mailto:ramesh@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Mohd. Siraj Alam, Faculty<br>
                            <small>Joint Secretary-I</small>
                        </h3>
                        <p>Assistant Professor, Chemical Engineering Deptt. MNNIT Allahabad <br> Phone no. : 9412379090</p>
                        <ul class="list-inline">
                            <li><a href="mailto:msalam@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajesh Kumar Singh <br>1990, CSE<br>
                            <small>Joint Secretary-II</small>
                        </h3>
                        <p>SDM, Dadri (Noida), C-36, NTPC, Dadri, Gautam Budh Nagar <br> Phone no. : 9198911112</p>
                        <ul class="list-inline">
                            <li><a href="mailto:rajeshkumarsingh@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Praveen Kumar Agarwal <br>2002, Mech<br>
                            <small>Treasurer</small>
                        </h3>
                        <p>Assistant Professor, Mech Engineering Deptt. MNNIT Allahabad <br> Phone no. : 8081622278</p>
                        <ul class="list-inline">
                            <li><a href="mailto:pka@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. M.M. Gore<br>
                            <small>Dean (R G & IA) Ex-Officio</small>
                        </h3>
                        <p>Professor, C.S.E Deptt. MNNIT Allahabad <br> Phone no. : +91-532-2271602  </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gore@mnnit.ac.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Members</b></h2>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. H. P. Shukla <br>1978, Electrical<br>
                            <small>Member</small>
                        </h3>
                        <p>Dy. GM IFFCO, Phulpur<br> B-70, ADA Colony, Govindpur, Allahabad<br> Phone no. : 9415130671 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:hpshukla@iffco.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. G. P. Singh <br>1988, Civil<br>
                            <small>Member</small>
                        </h3>
                        <p>Asst. VP, Hydropower<br> B-9/14 ,Flat-110, Bhagirathi Apt., Sector-62, Noida<br> Phone no. : 9717286060 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gpsingh_hydro@yahoo.co.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Shailesh Kr Trivedi <br>1990, Mech<br>
                            <small>Member</small>
                        </h3>
                        <p>Dy. Director (Tech Education)<br>Directorate of Training and Technical Education Pitampura, Delhi<br> Phone no. : 9868470275 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:shailesh_trivedis@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Rajendra Pratap Giri <br>1990, Mech<br>
                            <small>Member</small>
                        </h3>
                        <p>Executive Engineer<br>UPPWD Allahabad (UP)<br> Phone no. : 9415416642 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:rpgiri2010@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. R.N. Sahi <br>1966, Civil<br>
                            <small>Member</small>
                        </h3>
                        <p>Retired Professor<br>C-20, Mehdauri Colony, Teliarganj, Allahabad <br> Phone no. : 0532-2546720, 9455690350 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:ramnshahi@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. R. C. Maurya <br>1977, Mech<br>
                            <small>Member</small>
                        </h3>
                        <p>S.E. UP Jal Nigam (Retired)<br>64/50 F, Govindpur Teliarganj, Allahabad<br> Phone no. : 9415646394</p>
                        <ul class="list-inline">
                            <li><a href="mailto:rcmaurya55@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Y. K. Gupta <br>1975, Civil<br>
                            <small>Member</small>
                        </h3>
                        <p>Associate Professor Civil Engineering Deptt. MNNIT Allahabad <br>Phone no. : 7376380639 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:ykg@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

<div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. J. P. Agarwal 1966, Civil<br>
                            <small>Member</small>
                        </h3>
                        <p>Retired Engineer<br>R 5/35, Raj Nagar, Ghaziabad<br> Phone no. : 9313078208 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:utkarsh07@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. S. C. Chugh <br>1979, Mech<br>
                            <small>Member</small>
                        </h3>
                        <p>Director, Poly Engineering & Marketing Centre<br>421/7/16, Civil Lines, Near Rajiv Chowk, Gurgaon<br> Phone no. : 981 115 3587 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:subhashchugh181@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Ravindra Kr. Pandey <br>1972, Civil<br>
                            <small>Member</small>
                        </h3>
                        <p>S.E. Irrigation (Retired)<br>91/186, Nagari Press, Alopibagh, Allahabad<br> Phone no. : 9415348730 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:1947rkp@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>    
      </div>
      <div id="menu2" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Development Team</b></h2>
            </div>
            <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajat Chakraborty (Mentor)<br>
                            <small>Operations Lead</small>
                        </h3>
                        <p>ECE'16 MNNIT Allahabad<br> Phone no. : +91-9643563198 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:codebreaker2009@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prashant Baisla (Mentor)<br>
                            <small>Tech Lead</small>
                        </h3>
                        <p>CSE'16 MNNIT Allahabad<br> Phone no. : +91-9565067200 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:prashantbaisla@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Gaurav Dhanuka<br>
                            <small>Lead Developer</small>
                        </h3>
                        <p>Final Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948775799 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gauravdhanuka2007@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Mayank Shah<br>
                            <small>Security Advisor</small>
                        </h3>
                        <p>Final Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948778528 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:mayankshah.310795@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Urjit Patel<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, IT, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>  
            <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Harshit Shah<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Anshul Singh<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, IT, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
	
	<div id="menu3" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Operation Team</b></h2>
            </div>
            <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Vivek Karn<br>
                            <small>Operations + Mentorship</small>
                        </h3>
                        <p>ME'17 MNNIT Allahabad<br> Phone no. : +91-7753820968 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:nvivekkar@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
		<div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Nidhi Priya<br>
                            <small>Operations</small>
                        </h3>
                        <p>CSE'17 MNNIT Allahabad<br></p>
                        <ul class="list-inline">
                            
                        </ul>
                    </div>
                </div>
            </div>
	 
          <div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Anudhi Jain<br>
                            <small>Operations</small>
                        </h3>
                        <p>IT'17 MNNIT Allahabad<br></p>
                        <ul class="list-inline">
                            <li><a href="mailto:anudhijain@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

	<div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Amar Prem<br>
                            <small>Operations</small>
                        </h3>
                        <p>PIE'18 MNNIT Allahabad<br> Phone no. : +91-8874326902 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:amar01mnnit@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

	<div class="col-md-4 col-md-offset-0 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Sujeet Kumar<br>
                            <small>Operations + Mentorship</small>
                        </h3>
                        <p>BIO'18 MNNIT Allahabad<br> Phone no. : +91-9554259281 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:sujeet.kr0042@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

	</div>
	</div>



    </div>
   
</div>
<!-- /.container -->
