<style type="text/css">
    .thumbnail{
        min-height: 260px;
    }
</style>
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>MAA</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <%= image_tag("6.jpg", alt: "MNNIT Alumni Association", class: "img-responsive img-hover") %>
            
        </div>
        <div class="col-md-6">
            <h2 style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>MNNIT Alumni Association.</b></h2>
            <p>The world of alumni is the world of friends. Most people these days search friends on Facebook, Google Plus or Linked In. This social networking world is too personal in nature.</p>
            <p> MNNIT Alumni Management System provides a neat way of finding co-learners, based on various search criterias. Since it provides a complete database search approach, it can even be used to send mass mailers, bulk SMS to everyone in the database or a group based on a specific search criteria.
            This helps in organising alumni events and ensure maximum participation.</p>
            <p> On request the database can also be extended to mark more flags, so that alumni of a specific zone, or some other custom criterias can be easily traced. The system is unique in terms of its multi filter and sort capability. It also provides a way to control the number of records shown on the page. Hope all of you will enjoy.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home" style="color: #DD5138;font-family: 'Dosis', sans-serif;">Executive Committee</a></li>
      <li><a data-toggle="tab" href="#menu2" style="color: #DD5138;font-family: 'Dosis', sans-serif;">Development Team</a></li>
      <li><a data-toggle="tab" href="#menu1" style="color: #DD5138;font-family: 'Dosis', sans-serif;">Mentors</a></li>

    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #016cc7;font-family: 'Dosis', sans-serif;"><b>Executive Committee</b></h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. P. Chakrabarti<br>
                            <small>President (Patron) Ex-Officio, Director-MNNIT</small>
                        </h3>
                        <p>Director's Residence, Staff Colony, MNNIT Allahabad<br>Phone no. : 0532-2271102 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:director@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Avinash Kumar Dubey 1997, Production<br>
                            <small>Vice President - I (Working President)</small>
                        </h3>
                        <p>Associate Professor, Mech Engineering Deptt. MNNIT Allahabad <br>Phone no. : 9336556602 </p>
                        <ul class="list-inline">
                            
                            <li><a href="mailto:avanish@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Er. Anurag Srivastava 1988, Civil<br>
                            <small>Vice President - II</small>
                        </h3>
                        <p>Zonal Business Head (North) Reliance Life Insurance F-22, Sarita Vihar New Delhi-110076 <br> Phone no. : 9555643400 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:Anurag6699@rediffmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Ramesh Pandey 1992, Civil<br>
                            <small>Secretary</small>
                        </h3>
                        <p>Assistant Professor, Applied Mechanics Deptt. MNNIT Allahabad <br> Phone no. : 9415351358</p>
                        <ul class="list-inline">
                            <li><a href="mailto:ramesh@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Mohd. Siraj Alam, Faculty<br>
                            <small>Joint Secretary-I</small>
                        </h3>
                        <p>Assistant Professor, Chemical Engineering Deptt. MNNIT Allahabad <br> Phone no. : 9412379090</p>
                        <ul class="list-inline">
                            <li><a href="mailto:msalam@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajesh Kumar Singh 1990, CSE<br>
                            <small>Joint Secretary-II</small>
                        </h3>
                        <p>SDM, Dadri (Noida), C-36, NTPC, Dadri, Gautam Budh Nagar-201008 <br> Phone no. : 9198911112</p>
                        <ul class="list-inline">
                            <li><a href="mailto:rajeshkumarsingh@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Praveen Kumar Agarwal 2002, Mech<br>
                            <small>Treasurer</small>
                        </h3>
                        <p>Assistant Professor, Mech Engineering Deptt. MNNIT Allahabad <br> Phone no. : 8081622278</p>
                        <ul class="list-inline">
                            <li><a href="mailto:pka@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. N. D. Pandey<br>
                            <small>Dean (R G & IA) Ex-Officio</small>
                        </h3>
                        <p>Professor, Chemistry Deptt. MNNIT Allahabad <br> Phone no. : 9415016068 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:pandey_nd@mnnit.ac.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. H. P. Shukla 1978, Electrical<br>
                            <small>Member - I</small>
                        </h3>
                        <p>Dy. GM IFFCO, Phulpur<br> B-70, ADA Colony, Govindpur, Allahabad<br> Phone no. : 9415130671 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:hpshukla@iffco.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. G. P. Singh 1988, Civil<br>
                            <small>Member - II</small>
                        </h3>
                        <p>Asst. VP, Hydropower<br> B-9/14 ,Flat-110, Bhagirathi Apt., Sector-62, Noida<br> Phone no. : 9717286060 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gpsingh_hydro@yahoo.co.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Shailesh Kr Trivedi 1990, Mech<br>
                            <small>Member - III</small>
                        </h3>
                        <p>Dy. Director (Tech Education)<br>Directorate of Training and Technical Education (DTTE) Government of Delhi Pitampura, Delhi<br> Phone no. : 9868470275 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:shailesh_trivedis@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Rajendra Pratap Giri 1990, Mech<br>
                            <small>Member - IV</small>
                        </h3>
                        <p>Executive Engineer<br>UPPWD Allahabad (UP)<br> Phone no. : 9415416642 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:rpgiri2010@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. R.N. Sahi 1966, Civil<br>
                            <small>Member - V</small>
                        </h3>
                        <p>Retired Professor<br>C-20, Mehdauri Colony, Teliarganj, Allahabad–211004 <br> Phone no. : 0532-2546720, 9455690350 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:ramnshahi@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. R. C. Maurya 1977, Mech<br>
                            <small>Member - VI</small>
                        </h3>
                        <p>S.E. UP Jal Nigam (Retired)<br>64/50 F, Govindpur Teliarganj, Allahabad-211004<br> Phone no. : 9415646394</p>
                        <ul class="list-inline">
                            <li><a href="mailto:rcmaurya55@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
             <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Y. K. Gupta 1975, Civil<br>
                            <small>Member - VII</small>
                        </h3>
                        <p>Associate Professor Civil Engineering Deptt. MNNIT Allahabad <br>Phone no. : 7376380639 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:ykg@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

<div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. J. P. Agarwal 1966, Civil<br>
                            <small>Member - VIII</small>
                        </h3>
                        <p>Retired Engineer<br>R 5/35, Raj Nagar, Ghaziabad<br> Phone no. : 9313078208 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:utkarsh07@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. S. C. Chugh 1979, Mech<br>
                            <small>Member - IX</small>
                        </h3>
                        <p>Director, Poly Engineering & Marketing Centre<br>421/7/16, Civil Lines, Near Rajiv Chowk, Gurgaon<br> Phone no. : 981 115 3587 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:subhashchugh181@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Er. Ravindra Kr. Pandey 1972, Civil<br>
                            <small>Member - X</small>
                        </h3>
                        <p>S.E. Irrigation (Retired)<br>91/186, Nagari Press, AlopibaghAllahabad-211006<br> Phone no. : 9415348730 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:1947rkp@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>    
      </div>
      <div id="menu2" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #016cc7;font-family: 'Dosis', sans-serif;"><b>Development Team</b></h2>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Gaurav Dhanuka<br>
                            <small>Lead Developer</small>
                        </h3>
                        <p>Final Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948775799 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gauravdhanuka2007@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Mayank Shah<br>
                            <small>Security Advisor</small>
                        </h3>
                        <p>Final Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948778528 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:mayankshah.310795@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Harshit Shah<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Tushar Agarwal<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Urjit Patel<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, IT, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Anshul Singh<br>
                            <small>Designer</small>
                        </h3>
                        <p>Third Year, IT, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header" style="color: #016cc7;font-family: 'Dosis', sans-serif;"><b>Mentors</b></h2>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajat Chakraborty<br>
                            <small>Operations Lead</small>
                        </h3>
                        <p>ECE'16 MNNIT Allahabad<br> Phone no. : +91-9643563198 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:codebreaker2009@gmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prashant Baisla<br>
                            <small>Tech Lead</small>
                        </h3>
                        <p>CSE'16 MNNIT Allahabad<br> Phone no. : +91-9565067200 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:prashantbaisla@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>
   
</div>
<!-- /.container -->
