<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>MAA</small>
            </h1>
            <ol class="breadcrumb">
                <li><%= link_to 'Home', root_path %>
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <%= image_tag("6.jpg", alt: "MNNIT Alumni Association", class: "img-responsive img-hover") %>
            
        </div>
        <div class="col-md-6">
            <h2>MNNIT Alumni Association.</h2>
            <p>The world of alumni is the world of friends. Most people these days search friends on Facebook, Google Plus or Linked In. This social networking world is too personal in nature.</p>
            <p> MNNIT Alumni Management System provides a neat way of finding co-learners, based on various search criterias. Since it provides a complete database search approach, it can even be used to send mass mailers, bulk SMS to everyone in the database or a group based on a specific search criteria.
            This helps in organising alumni events and ensure maximum participation.</p>
            <p> On request the database can also be extended to mark more flags, so that alumni of a specific zone, or some other custom criterias can be easily traced. The system is unique in terms of its multi filter and sort capability. It also provides a way to control the number of records shown on the page. Hope all of you will enjoy.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Executives</a></li>
      <li><a data-toggle="tab" href="#menu1">Mentors</a></li>
      <li><a data-toggle="tab" href="#menu2">Development Team</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Executives</h2>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. P. Chakrabarti<br>
                            <small>President (Patron) Ex-Officio, Director-MNNIT</small>
                        </h3>
                        <p>Director's Residence, Staff Colony, MNNIT Allahabad<br>Phone no. : 0532-2271102 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:director@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Avinash Kumar Dubey<br>
                            <small>Vice President - I (Working President)</small>
                        </h3>
                        <p>Associate Professor, Mech Engineering Deptt. MNNIT Allahabad <br>Phone no. : 9336556602 </p>
                        <ul class="list-inline">
                            
                            <li><a href="mailto:avanish@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Er. Anurag Srivastava 1988, Civil<br>
                            <small>Vice President - II</small>
                        </h3>
                        <p>Zonal Business Head (North) Reliance Life Insurance F-22, Sarita Vihar New Delhi-110076 <br> Phone no. : 9555643400 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:Anurag6699@rediffmail.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Ramesh Pandey<br>
                            <small>Secretary</small>
                        </h3>
                        <p>Assistant Professor, Applied Mechanics Deptt. MNNIT Allahabad <br> Phone no. : 9415351358</p>
                        <ul class="list-inline">
                            <li><a href="mailto:ramesh@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Mohd. Siraj Alam<br>
                            <small>Joint Secretary-I</small>
                        </h3>
                        <p>Assistant Professor, Chemical Engineering Deptt. MNNIT Allahabad <br> Phone no. : 9412379090</p>
                        <ul class="list-inline">
                            <li><a href="mailto:msalam@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajesh Kumar Singh<br>
                            <small>Joint Secretary-II</small>
                        </h3>
                        <p>SDM, Dadri (Noida), C-36, NTPC, Dadri, Gautam Budh Nagar-201008 <br> Phone no. : 9198911112</p>
                        <ul class="list-inline">
                            <li><a href="mailto:rajeshkumarsingh@yahoo.com"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Dr. Praveen Kumar Agarwal<br>
                            <small>Treasurer</small>
                        </h3>
                        <p>Assistant Professor, Mech Engineering Deptt. MNNIT Allahabad <br> Phone no. : 8081622278</p>
                        <ul class="list-inline">
                            <li><a href="mailto:pka@mnnit.ac.in"><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prof. N. D. Pandey<br>
                            <small>Dean (R G & IA) Ex-Officio</small>
                        </h3>
                        <p>Professor, Chemistry Deptt. MNNIT Allahabad <br> Phone no. : 9415016068 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:pandey_nd@mnnit.ac.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
      </div>
      <div id="menu1" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Mentors</h2>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Rajat Chakrabarti<br>
                            <small>Alumni Cell Organiser</small>
                        </h3>
                        <p>Final Year, ECE, MNNIT Allahabad<br> Phone no. : +91-9565067778 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:rajat@mnnit.ac.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Prashant Baisla<br>
                            <small>Lead Developer</small>
                        </h3>
                        <p>Final Year, CSE, MNNIT Allahabad<br> Phone no. : +91-9565067200 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:pbaisla@mnnit.ac.in "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div id="menu2" class="tab-pane fade">
        <div class="row text-center">
            <div class="col-lg-12">
                <h2 class="page-header">Development Team</h2>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Gaurav Dhanuka<br>
                            <small>Lead Developer</small>
                        </h3>
                        <p>Third Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948775799 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:gauravdhanuka2007@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4  text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Mayank Shah<br>
                            <small>Security Advisor</small>
                        </h3>
                        <p>Third Year, CSE, MNNIT Allahabad<br> Phone no. : +91-8948778528 </p>
                        <ul class="list-inline">
                            <li><a href="mailto:mayankshah.310795@gmail.com "><i class="fa fa-2x fa-envelope-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">    
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Harshit Shah<br>
                            <small>Designer</small>
                        </h3>
                        <p>Second Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Tushar Agarwal<br>
                            <small>Designer</small>
                        </h3>
                        <p>Second Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Urjit Patel<br>
                            <small>Designer</small>
                        </h3>
                        <p>Second Year, IT, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Anshul Singh<br>
                            <small>Designer</small>
                        </h3>
                        <p>Second Year, CSE, MNNIT Allahabad</p>
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
   
</div>
<!-- /.container -->
