<div class="container" style="height: 100%;">
	<div class="row text-center">
        <div class="col-lg-12">
            <h2 class="page-header">CHAPTERS</h2>
        </div>
    </div>      
    <div class="col-md-offset-4 text-center">
    	<table border="1" width="400" height="150">
    		<tr>
    			<th class="text-center">Name</th>
    			<th class="text-center">Link</th>
    		</tr>
    		<tr>
    			<td>Delhi Chapter</td>
    			<td><a href="http://monereco-ncr.tripod.com/">http://monereco-ncr.tripod.com/</a></td>
        	</tr>
        	<tr>
        		<td>Lucknow Chapter</td>
        		<td><a href="http://www.apnemoti.org/">http://www.apnemoti.org/</a></td>
        	</tr>
    	</table>
    </div>
    <hr>
    
    <div>
    	<p class="text-center col-md-offset-3 col-md-6">
    		If you have your own Chapter not listed here, then mail us the name and link of that respective chapter at <br><i class="fa fa-envelope"></i><strong> Email : </strong> <a href="mailto:mnnitalumni@mnnit.ac.in">mnnitalumni@mnnit.ac.in</a> . 
    	</p>
    </div>      
	
</div>