<div class="container" style="height: 100%;background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 3%;">
	<div class="row text-center">
        <div class="col-lg-12">
            <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Chapters</b></h2>
        </div>
        <p>Our Alumni, working all over the world have also formed few local ‘Alumni Chapters’ in different cities of India and abroad. The Delhi-NCR, Lucknow and Mumbai chapters are well established with good number of active members. These chapters are actively involved in welfare activities of our alumni and organize the regular get-together to strengthen the bond among them. We appeal our alumni to open chapters in different cities and share the details to central body.</p>
    </div>      
    <div class="col-md-offset-3 text-center">
    	<table border="1" width="600" height="150">
    		<tr>
    			<th class="text-center">Name</th>
    			<th class="text-center">Link</th>
    		</tr>
    		<tr>
    			<td>Delhi Chapter</td>
    			<td><a href="http://monereco-ncr.tripod.com/">http://monereco-ncr.tripod.com/</a></td>
        	</tr>
        	<tr>
        		<td>Lucknow Chapter</td>
        		<td><a href="http://www.apnemoti.org/">http://www.apnemoti.org/</a></td>
        	</tr>
            <tr>
                <td>Local Chapter</td>
                <td><a href="http://www.apnemoti.org/">http://www.apnemoti.org/</a></td>
            </tr>
    	</table>
    </div>
    <hr>
    
    <div>
    	<p class="text-center col-md-offset-3 col-md-6">
    		If you have your own Chapter not listed here, then mail us the name and link of that respective chapter at <br><i class="fa fa-envelope"></i><strong> Email : </strong> <a href="mailto:mnnitalumni@mnnit.ac.in">mnnitalumni@mnnit.ac.in</a> . 
    	</p>
    </div>      
	
</div>