<div class="container" style="height: 60%; background: url('assets/background.png') center center; background-color: rgba(255,255,255,0.9); background-repeat: no-repeat; background-size: cover; opacity: 0.4;">
	<div class="col-md-8 col-md-offset-2" style="color: white; opacity: 1; margin-top: 40px;">
		<h1 class="text-center" > Coming Soon!! </h1>
		<hr>
		<p class="text-center">
			We hope that you like Our Site. Please provide us with Feedback. Please include the facilities or features that you would like us to implement in the site.
			<h3 class="text-center"> Thank You! </h3>
		</p>
	</div>
</div>