<div class="container" style="background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 3%;">
	<div class="row text-center">
        <div class="col-md-12">
            <h2 class="page-header" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Downloads</b></h2>
        </div>
    </div>      
    <div class="col-md-offset-4 text-center">
    	<table border="1" width="400" height="150">
    		<tr>
    			<th class="text-center">S.No.</th>
    			<th class="text-center">Details</th>
                <th class="text-center">Link</th>
    		</tr>
    		<tr>
    			<td>1</td>
                <td>Bye-Laws</td>
    			<td><a href="http://alumni.mnnit.ac.in/files/bylaws.pdf">Download</a></td>
        	</tr>
            <tr>
                <td>2</td>
                <td>Executive Commitee List</td>
                <td><a href="../assets/MNNIT Alumni Association -Brief Introduction.pdf">Download</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Minutes of Meeting</td>
                <td><a href="#">Coming Soon</a></td>
            </tr>
        	<tr>
                <td>4</td>
                <td>Account Audit Report</td>
                <td><a href="#">Coming Soon</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Forms</td>
                <td><a href="#">Coming Soon</a></td>
            </tr>
    	</table>
    </div>
    <hr>
    
    <div>
    	<p class="text-center col-md-offset-3 col-md-6">
    		If you have any problem downloading the files, then mail us at <br><i class="fa fa-envelope"></i><strong> Email : </strong> <a href="mailto:mnnitalumni@mnnit.ac.in">mnnitalumni@mnnit.ac.in</a> . 
    	</p>
    </div>      
	
</div>