<div class="container" style="margin-top: 50px;">
	<div class="row">
		<h1>Giving Back to Your College.</h1>
		<div class="box">
			<h3>Dear Alumnus,</h3>
			<hr />
			<p>MNNIT Alumni Association has identified following activities for the welfare of institute which may be accomplished jointly with the institute and alumni:- </p>
			<ol>
				<li>Student scholarship/support to needy students.</li>
				<li>Organization of Distinguished Lecture Series. </li>
				<li>Support to students for attending National/International Conference.</li>
				<li>Student Mentor Program.</li>
				<li>Cash Award for journal publication/patent for students.</li>
				<li>Annual Cash Awards/Gold and Silver Medal.</li>
				<li>Infrastructural Development of the Institute.</li>
				
			</ol>
			<br />
			<p>Support can be provided for any of the above mentioned cause or to any other cause mentioned/suggested by you. The money can be transferred to following account through NEFT:- 
			</p>
			<hr>
			<ul>
				<li>A/c No 10424974659 in favour of "MNNIT Alumni Association" payable at STATE BANK OF INDIA, MNNIT Branch</li>
				<li>Branch Code 2580</li>
				<li>IFSC Code SBIN0002580</li>
				<li>Swift code SBININBB344</li> 
			</ul>

			<hr />
			<ul>
				<li>A/c No 718401011006387 in favour of "MNNIT Alumni Association" payable at Vijaya Bank, MNNIT Branch</li>
				<li>Branch Code 7184</li>
				<li>IFSC Code VIJB0007184</li>
				<li>Swift Code VIJBINBBRSM</li> 
			</ul>
			<hr>
			<p>
				Or cheque/draft in favour of 'MNNIT Alumni Association' can be sent to: 
			</p>
			<ul>
				<li>MNNIT Alumni Association</li>
				<li>Executive Development Centre</li>
				<li>MNNIT Allahabad - 211004 (INDIA)</li> 
			</ul>

		</div>
		
	</div>
	
</div>