<div class="container" style="margin-top: 20px; background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding: 20px;">
	<%= render "form" %>
	<div class="col-md-4">
		<h3>Alumni Team </h3>
		<hr>
		<p>
			We would love to have your Feedbacks. Please! provide us with all the features or changes that you would like to have implemented on the site. Every feedback will be considered.</p>
		<p>
			Thanks in Advance.
		</p>
	</div>
</div>
	
