<div class="container">
	<%= render "form" %>
	<div class="col-md-4">
		<h3>Alumni Team </h3>
		<hr>
		<p>
			We would love to have your Feedbacks. Please! provide us with all the features or changes that you would like to have implemented on the site. Every feedback will be considered.</p>
		<p>
			Thanks in Advance.
		</p>
	</div>
</div>
	