<div class="container" style="margin-top: 50px; height: 600px;">
	<div class="row ">
		<h1 class="text-center" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Payment for Id-Card.</b></h1>
		<div class="box">
			<hr>
			<h2> Payments: </h2>
			<ol>
				<li>Registration fees  Rs. 100.</li>
			</ol>
			
			<p>For all type of payments, the Cheque/ Demand Draft may be issued in favor of “MNNIT Alumni Association” payable at Allahabad.</p>

			<p>The payments can also be made through e-Transfer to Vijaya Bank, MNNIT Allahabad branch with following details:</p>
			<ol>
				<li>Beneficiary name: MNNIT Alumni Association</li>

				<li>Account No. 718401011006387</li>

				<li>Account Type: Saving</li>

				<li>Branch Code 7184</li>

				<li>IFSC: VIJB0007184</li>

				<li>Swift Code: VIJBINBBRSM</li>
			</ol>	

			<p>The payment details may be sent to <a href="mailto:mnnitalumni@gmail.com">mnnitalumni@gmail.com</a> with cc to ramesh@mnnit.ac.in</p>

			<p>Cheques / DDs (hard copy) may be sent at following office address: <br>

				<span style="color: #DD5138;">MNNIT Alumni Association, Executive Development Centre (Guest House)<br>

				Residential Campus, MNNIT Allahabad – 211004</span>
			</p>	
			
		</div>
	</div>
</div>
