<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="page-header">
				Register for an ID Card
	    </h1>
		</div>
    <hr>
    <br>
    <% if !current_user.id_card.nil? %>
      <div class="col-xs-6 col-xs-push-3" style="margin-top: 50px; height: 50px;background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding-left: 5%;"><center><strong>Your ID is: <%= current_user.id_card.id_number %></strong></center></div>
    <% else %>

    <div class="container" style="margin-top: 50px; height: 600px;background: white;box-shadow: 0 0 3px rgba(0,0,0,0.25),-1px 0 0 rgba(0,0,0,0.09),2px 0 2px rgba(0,0,0,0.09),0 2px 0 rgba(0,0,0,0.12);padding-left: 5%;">
    
  <div class="row ">
    <h1 class="text-center" style="color: #DD5138;font-family: 'Dosis', sans-serif;"><b>Payment for Id-Card.</b></h1>
    <div class="box">
      <hr>
      <h2> Payments: </h2>
      <ol>
        <li>Registration fees  Rs. 150.</li>
      </ol>
      
      <p>For all type of payments, the Cheque/ Demand Draft may be issued in favor of “MNNIT Alumni Association” payable at Allahabad.</p>

      <p>The payments can also be made through e-Transfer to Vijaya Bank, MNNIT Allahabad branch with following details:</p>
      <ol>
        <li>Beneficiary name: MNNIT Alumni Association</li>

        <li>Account No. 718401011006387</li>

        <li>Account Type: Saving</li>

        <li>Branch Code 7184</li>

        <li>IFSC: VIJB0007184</li>

        <li>Swift Code: VIJBINBBRSM</li>
      </ol> 

      <p>The payment details may be sent to <a href="mailto:mnnitalumni@gmail.com">mnnitalumni@gmail.com</a> with cc to ramesh@mnnit.ac.in</p>

      <p>Cheques / DDs (hard copy) may be sent at following office address: <br>

        <span style="color: #DD5138;">MNNIT Alumni Association, Executive Development Centre (Guest House)<br>

        Residential Campus, MNNIT Allahabad – 211004</span>
      </p>  
      <div>
      <% if current_user.nil? or current_user.id_card_request.nil? %>
        <%= link_to "Register for ID Card now", idcard_register_path, class: "btn btn-info btn-login" %>
      <% elsif current_user.id_card.nil? %>
        <strong>Your request for an ID card is under process.</strong>
      <% end %>
    </div>
    </div>

  </div>
  
</div>
<% end %>

	</div>
</div>
