/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

#notice_wrapper{
	position: absolute;
	top: 0px;
	width: 100%;
    
	z-index: 999;
	background-color: rgba(255,255,255,0.9);
    
	.alert {
		padding: 0.6rem;
	}
	p {
		text-align: center;
		padding: auto;
		margin: auto;
        margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 100;
		color: black;
		letter-spacing: 1px; 
	}
}

html,
body {
    height: 100%;
    background-color: white;
}



.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}




/* Home Page Carousel */

header.carousel {
    height: 70%;
    margin-top: -20px;
    position: relative;
    .header-one {
      position: absolute;
      top: -20%;
            
      
      height: 30%;
      margin-top: 150px;
      h1 {      
            text-align: center;
            font-size: 50px;
            font-weight: 700;
            color: white;
            margin-bottom: 20px;
            letter-spacing: 0.05em;
            margin-top: -80px;

            span {

                deisplay: inline-block;
                padding: 0.05em 0.5em;
                border: #CCCC00 solid 10px;
                text-shadow: 2px 2px black;
                -moz-box-shadow: 0 0 2px black;
                -webkit-box-shadow: 0 0 2px black;
                box-shadow: 0 0 2px black;
            }
        }
        .subtext {
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            text-shadow: 1px 1px black;
            letter-spacing: 0.05em;
            color: rgba(255,255,255,0.98);

            strong {

                color: #CCCC00;
            }

        } 
    }

}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;

    
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
    background-color: rgba(255,255,255,0.1);

}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

.panel-heading{
    .request_image {
        img {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
            
        }
    }
}
.panel-body{    
    .description {
        color: #868686;
        line-height: 1.75;
        margin: 0;
    }
}    
.modal-body{
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}
.footer-class {
    background-color: rgba(0,0,0,0.75);
    padding-bottom: 50px;
    margin-bottom: 0px;
    .row{
        .col-lg-12{
            margin-top: 20px;
            color: #fff;
            
            .previous{
                margin-left: 10rem;
                display: inline;
            }
            .next {
                margin-left: 50rem;
                display: inline;
            }
        }
    }    
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.text-center {
    text-align: center;    
}

.header-one {
    h1 {

            padding-top: 200px;
            padding-bottom: 30px;
            text-align: center;
            font-size: 72px;
            font-weight: 700;
            color: rgba(0,0,0,0.5);
            
            letter-spacing: 0.05em;

            span {

                deisplay: inline-block;
                padding: 0.05em 0.5em;
                border: #CCCC00 solid 10px; 
            }
        } 

        .subtext {

            text-align: center;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: rgba(0,0,0,0.5);

            strong {

                color: #CCCC00;
            }

        }
}

#t3-department .container {
    padding-top: 30px
}

@media (min-width:768px) {
    #t3-department .container {
        border-bottom: 1px solid #efece1;
        margin-bottom: 0px;
        padding-bottom: 0px
    }
}

.department-list ul.department-list {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 20%;
}

@media screen and (max-width:992px) {
    .department-list ul.department-list {
        text-align: center
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .department-list ul.department-list {
        margin: 0 -10px
    }
}

.department-list ul.department-list li {
    background: none;
    display: inline-block;
    float: none;
    height: 110px;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 120px
}

@media screen and (min-width:992px) {
    .department-list ul.department-list li {
        display: block;
        float: left;
        margin-bottom: 0
    }
}

.department-list ul.department-list li a {
    background: #f7f5e9;
    border-radius: 50%;
    color: #494949;
    display: block;
    height: 90px;
    margin: 0 auto;
    position: relative;
    text-indent: -999em;
    width: 90px
}

.department-list ul.department-list li a:before {
    font-family: FontAwesome;
    font-size: 30px;
    left: 50%;
    margin: -17% 0 0 -15%;
    position: absolute;
    text-indent: 0;
    top: 50%
}

.department-list ul.department-list li a:hover,
.department-list ul.department-list li a:active,
.department-list ul.department-list li a:focus {
    color: #ffffff
}

.department-list ul.department-list li span {
    bottom: 0px;
    display: none;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    left: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%
}

.department-list ul.department-list li:hover span {
    display: block
}

.department-list ul.department-list li.icon-1 a:before {
    content: "\f0b1"
}

.department-list ul.department-list li.icon-1 a:hover,
.department-list ul.department-list li.icon-1 a:active,
.department-list ul.department-list li.icon-1 a:focus {
    background: #d2644e
}

.department-list ul.department-list li.icon-2 a:before {
    content: "\f0d6"
}

.department-list ul.department-list li.icon-2 a:hover,
.department-list ul.department-list li.icon-2 a:active,
.department-list ul.department-list li.icon-2 a:focus {
    background: #eda89a
}

.department-list ul.department-list li.icon-3 a:before {
    content: "\f07a"
}

.department-list ul.department-list li.icon-3 a:hover,
.department-list ul.department-list li.icon-3 a:active,
.department-list ul.department-list li.icon-3 a:focus {
    background: #a6d4dd
}

.department-list ul.department-list li.icon-4 a:before {
    content: "\f108"
}

.department-list ul.department-list li.icon-4 a:hover,
.department-list ul.department-list li.icon-4 a:active,
.department-list ul.department-list li.icon-4 a:focus {
    background: #d8c3a0
}

.department-list ul.department-list li.icon-5 a:before {
    content: "\f044"
}

.department-list ul.department-list li.icon-5 a:hover,
.department-list ul.department-list li.icon-5 a:active,
.department-list ul.department-list li.icon-5 a:focus {
    background: #9abb90
}

.department-list ul.department-list li.icon-6 a:before {
    content: "\f0f6"
}

.department-list ul.department-list li.icon-6 a:hover,
.department-list ul.department-list li.icon-6 a:active,
.department-list ul.department-list li.icon-6 a:focus {
    background: #b4b4b4
}

.department-list ul.department-list li.icon-7 a:before {
    content: "\f0c0"
}

.department-list ul.department-list li.icon-7 a:hover,
.department-list ul.department-list li.icon-7 a:active,
.department-list ul.department-list li.icon-7 a:focus {
    background: #cea4b9
}

.department-list ul.department-list li.icon-8 a:before {
    content: "\f0ac"
}

.department-list ul.department-list li.icon-8 a:hover,
.department-list ul.department-list li.icon-8 a:active,
.department-list ul.department-list li.icon-8 a:focus {
    background: #7ac2c5
}