/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,500);


html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    color: #404142;
    font-size: 20px;
    letter-spacing: 0.8px;
    overflow-x: hidden;
    

/*background: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSWcGr8A_AyqJUxyWdb3TaWzWAiLOhFqKlPCn22ST67fMAAsk_2FA");
  background-repeat: no-repeat;
  background-size: cover;*/
  background-image:url('background.jpg');
  background-attachment: fixed;
        
}


#notice_wrapper{
    position: absolute;
    top: 0px;
    width: 100%;
    
    z-index: 999;
    background-color: rgba(255,255,255,0.9);
    
    .alert {
        padding: 0.6rem;
    }
    p {
        text-align: center;
        padding: auto;
        margin: auto;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 100;
        color: black;
        letter-spacing: 1px; 
    }
}


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}




/* Home Page Carousel */
@media screen and (max-device-width: 400px) {
    .header-one {
        h1 {
            font-size: 1.5em;
            span {
                padding: 0.05em 0.5em;
                border: #CCCC00 solid 0.3rem;

            }
        }
        .subtext{
            font-size: 1em;
        }
    }
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    margin-top: 1rem;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


header.carousel {
    height: 70%;
    margin-top: -20px;
    position: relative;
    .header-one {
      position: absolute;
            
      
      h1 {      
            text-align: center;
            font-size: 5rem;
            font-weight: 700;
            color: white;
            margin-bottom: 2rem;
            letter-spacing: 0.05em;
            margin-top: -8rem;

            span {

                deisplay: inline-block;
                padding: 0.05em 0.5em;
                border: #CCCC00 solid 1rem;
                text-shadow: 2px 2px black;
                -moz-box-shadow: 0 0 2px black;
                -webkit-box-shadow: 0 0 2px black;
                box-shadow: 0 0 2px black;
            }
        }
        
    }

}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;

    
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
    background-color: rgba(255,255,255,0.1);

}

.t3-header {
    background: #10151c;
    border-bottom: 1px solid #000000;
    padding-top: 10px;
    padding-bottom: 0px;
    a{  
        text-decoration: none;

        .title {
            padding-left: 50px;
            font-size: 20px;
            font-family: 'Sans', cursive;
            font-weight: 500;
            margin-top: -8px;
            color: #fff;
            
        }
    }
    .quote{
        .quote_style{
            margin-top: 20px;
            margin-left: -50px;
            p {
                font-family: 'Pacifico', cursive;
                font-size: 25px;
                color: rgba(255,255,255,0.3);
            }
        }
    }
}

.logo {
    text-align: center
}

@media screen and (min-width:768px) {
    .logo {
        text-align: left
    }
}


.logo a {
    display: inline-block;
    line-height: 1;
    margin: 0;
    max-width: 100%
}

@media screen and (min-width:768px) {
    .logo-image {
        margin-left: 10px
    }
}

.logo-image span,
.logo-image small {
    display: none
}

.logo-text a {
    color: #ffffff;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase
}

.logo-text:hover a,
.logo-text a:hover,
.logo-text a:active,
.logo-text a:focus {
    color: #666666;
    text-decoration: none
}

.logo-text .site-slogan {
    color: #666666;
    display: block;
    font-size: 8px;
    margin-bottom: 2px;
    text-transform: uppercase
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

.panel-heading{
    .request_image {
        img {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
            
        }
    }
}
.panel-body{    
    .description {
        color: #868686;
        line-height: 1.75;
        margin: 0;
    }
}    
.modal-body{
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

.t3-sl {
    background: transparent;
    color: inherit;
    padding-bottom: 0 !important;
    padding-top: 0 !important
}

.t3-sl .module-title {
    color: inherit
}

.t3-sl a {
    color: #666666
}

.t3-sl a:hover {
    color: #d42b1e
}

@media screen and (min-width:768px) {
    .t3-sl {
        padding-bottom: 60px;
        padding-top: 60px
    }
}

.t3-sl-1 {
    border-bottom: solid 1px #efece1;
    padding-top: 0;
    padding-bottom: 0
}

@media screen and (max-width:767px) {
    .t3-sl-2 .container .module {
        margin-bottom: 20px
    }
}

.t3-sl-3 .container {
    border-top: 1px solid #181f28
}

@media screen and (max-width:767px) {
    .t3-sl-3 .container .t3-module {
        margin-bottom: 20px
    }
}

.t3-bot-sl {
    background: #0d1116;
    color: #666666;
    padding: 0
}

.t3-bot-sl .container {
    padding-bottom: 20px;
    padding-top: 20px
}

.t3-bot-sl .container .module {
    margin-top: 0;
    margin-bottom: 20px
}

.t3-bot-sl .module-title {
    color: #d9dee4
}

.t3-bot-sl .module-ct a {
    color: #4c4f53;
    display: inherit;
    padding: 0
}

.t3-bot-sl .module-ct a:hover,
.t3-bot-sl .module-ct a:active,
.t3-bot-sl .module-ct a:focus {
    color: #ffffff
}

.t3-bot-sl .module-ct ul.nav li {
    padding: 3px 0px
}

.t3-bot-sl .module-ct ul.nav li a {
    background: url("../../templates/ja_university_t3/images/bullet-dark-ltr.gif") no-repeat 0px 6px;
    border-bottom: 0;
    padding-left: 8px
}

.t3-bot-sl .module-ct ul.nav li a:hover,
.t3-bot-sl .module-ct ul.nav li a:active,
.t3-bot-sl .module-ct ul.nav li a:focus {
    background-image: url("../../templates/ja_university_t3/images/bullet-w-ltr.gif");
    border-radius: 0;
    color: #ffffff
}

.t3-sl-3 {
    border-bottom: solid 1px #000000
}

.t3-mainbody {
    padding-top: 20px;
    padding-bottom: 20px
}

.t3-content {
    padding-top: 10px
}

@media screen and (max-width:767px) {
    .t3-sidebar > .t3-sidebar {
        padding-left: 0;
        padding-right: 0
    }
}

.t3-sidebar1,
.t3-sidebar2 {
    padding-top: 20px;
    padding-bottom: 20px
}

.t3-navhelper {
    background: #0d1116;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #181f28;
    color: #666666;
    padding: 0
}

.t3-navhelper .breadcrumb {
    background: transparent
}

.t3-navhelper .breadcrumb li.active {
    font-weight: bold
}

.t3-footer {
    background: #0b0b0b;
    border-top: 1px solid #181f28;
    color: #666666
}

.t3-footer:before,
.t3-footer:after {
    content: " ";
    display: table
}

.t3-footer:after {
    clear: both
}

@media screen and (max-width:767px) {
    .t3-footer {
        text-align: center
    }
}

.t3-footer small {
    display: block;
    font-size: 100%
}

.t3-footnav {
    padding: 20px 0
}

.t3-footnav:before,
.t3-footnav:after {
    content: " ";
    display: table
}

.t3-footnav:after {
    clear: both
}

@media screen and (min-width:768px) {
    .t3-footnav {
        padding: 40px 0
    }
}

.t3-footnav .t3-module {
    background: #0b0b0b;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px
}

.t3-footnav .t3-module .module-title {
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px
}

.t3-footnav .t3-module ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0
}

.t3-footnav .t3-module ul > li {
    line-height: 24px
}

.t3-footnav .t3-module ul > li > a {
    color: #666666
}

.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
    color: #666666
}

.t3-copyright {
    color: #666666;
    font-size: 12px;
    padding: 20px 0 20px 0
}

.t3-copyright:before,
.t3-copyright:after {
    content: " ";
    display: table
}

.t3-copyright:after {
    clear: both
}

.t3-copyright small {
    margin-bottom: 5px
}

.t3-copyright a {
    color: #666666
}

.t3-copyright a:hover,
.t3-copyright a:active,
.t3-copyright a:focus {
    color: #ffffff;
    text-decoration: none
}

.poweredby:before,
.poweredby:after {
    content: " ";
    display: table
}

.poweredby:after {
    clear: both
}

@media screen and (min-width:991px) {
    .poweredby {
        text-align: right
    }
}

.poweredby .t3-logo,
.poweredby .t3-logo-small {
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: inline-block
}
ul.contact-list {
    margin: 0 !important;
    list-style: none
}

ul.contact-list li {
    margin: 0;
    padding: 4px 0
}

ul.contact-list li span {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px
}

ul.contact-list li i {
    font-size: 15px;
    color: #2a333f;
    margin-right: 10px
}

ul.contact-list li a {
    border-bottom: 1px dotted #2a333f;
    display: inline !important
}

ul.contact-list li a:hover,
ul.contact-list li a:active,
ul.contact-list li a:focus {
    border-color: #ffffff;
    color: #ffffff;
    text-decoration: none
}

.social-list {
    display: block;
    margin: 0;
    overflow: hidden
}

.social-list a {
    background: #20262f;
    border-radius: 33px;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    display: block;
    float: left;
    height: 33px;
    line-height: 33px;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    width: 33px !important
}

.social-list a:hover,
.social-list a:focus,
.social-list a:active {
    background: #d42b1e;
    color: #ffffff
}

.social-list a i {
    font-size: 18px;
    line-height: 33px
}
.ja-slidenews-item {
    border-bottom: 1px dotted #ccc;
    padding: 8px 0;
    float: left;
    clear: both;
    width: 100%
}

.ja-slidenews-item .ja-title {
    margin-top: 10px;
    display: block;
    font-weight: bold
}

.ja-slidenews-item .ja-createdate {
    color: #666;
    font-size: 92%;
    font-weight: bold;
    padding: 2px 5px 2px 0
}

.ja-sidenews-title {
    font-weight: bold
}

.ja-sidenews-postdate {
    font-size: 85%
}

.ja-sidenews {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer
}

.ja-sidenews-display {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%
}

.ja-sidenews-desc {
    padding: 5px 10px
}

.ja-sidenews-desc h3 {
    line-height: 1.4
}

.ja-slidenews-cover {
    float: left;
    position: absolute;
    width: 100%;
    z-index: 3;
    overflow: hidden;
    left: 0;
    bottom: 0
}

.ja-slidenews-item img {
    border: 1px solid #21211C;
    margin-right: 10px;
    margin-top: 3px
}

.ja-slidenews-item img[align="left"] {
    float: left;
    margin-right: 10px;
    margin-left: 0
}

.ja-slidenews-item img[align="right"] {
    float: right;
    margin-left: 10px;
    margin-right: 0
}
.ja-slidenews-item {
    border-bottom: 1px solid #efece1;
    padding: 15px 0;
    float: left;
    clear: both;
    width: 100%
}

.ja-slidenews-item:first-child {
    padding-top: 0
}

.ja-slidenews-item:last-child {
    border-bottom: 0;
    padding-bottom: 0
}

.ja-slidenews-item .ja-title {
    color: #333333;
    display: block;
    font-weight: normal;
    font-size: 1.250em;
    margin-bottom: 3px;
    line-height: 1.3
}

.ja-slidenews-item .ja-title:hover,
.ja-slidenews-item .ja-title:focus,
.ja-slidenews-item .ja-title:active {
    color: #d42b1e
}

.ja-slidenews-item .ja-createdate {
    color: #999999;
    display: block;
    font-weight: normal;
    margin-bottom: 4px;
    padding: 0px
}

.ja-slidenews-item img {
    border: 0;
    margin-right: 20px;
    margin-top: 5px
}

.ja-slidenews-item img[align="left"] {
    margin-right: 20px
}

.ja-slidenews-item img[align="right"] {
    margin-left: 20px
}

.ja-sidenews-title {
    font-weight: bold
}

.ja-sidenews-postdate {
    font-size: 85%
}

.ja-sidenews {
    cursor: pointer;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 0;
    width: 100%
}

.ja-sidenews-display {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%
}

.ja-sidenews-desc {
    padding: 0px 3px
}

.ja-slidenews-cover {
    bottom: 0;
    float: left;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 3
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.text-center {
    text-align: center;    
}

.header-one {
    h1 {

            padding-top: 200px;
            padding-bottom: 30px;
            text-align: center;
            font-size: 72px;
            font-weight: 700;
            color: rgba(0,0,0,0.5);
            
            letter-spacing: 0.05em;

            span {

                deisplay: inline-block;
                padding: 0.05em 0.5em;
                border: #CCCC00 solid 10px; 
            }
        } 

        .subtext {

            text-align: center;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: rgba(0,0,0,0.5);

            strong {

                color: #CCCC00;
            }

        }
}

#t3-department .container {
    padding-top: 30px
}

@media (min-width:768px) {
    #t3-department .container {
        border-bottom: 1px solid #efece1;
        margin-bottom: 0px;
        padding-bottom: 0px
    }
}

.department-list ul.department-list {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 20%;
}

@media screen and (max-width:992px) {
    .department-list ul.department-list {
        text-align: center
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .department-list ul.department-list {
        margin: 0 -10px
    }
}

.department-list ul.department-list li {
    background: none;
    display: inline-block;
    float: none;
    height: 110px;
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 120px
}

@media screen and (min-width:992px) {
    .department-list ul.department-list li {
        display: block;
        float: left;
        margin-bottom: 0
    }
}

.department-list ul.department-list li a {
    background: #f7f5e9;
    border-radius: 50%;
    color: #494949;
    display: block;
    height: 90px;
    margin: 0 auto;
    position: relative;
    text-indent: -999em;
    width: 90px
}

.department-list ul.department-list li a:before {
    font-family: FontAwesome;
    font-size: 30px;
    left: 50%;
    margin: -17% 0 0 -15%;
    position: absolute;
    text-indent: 0;
    top: 50%
}

.department-list ul.department-list li a:hover,
.department-list ul.department-list li a:active,
.department-list ul.department-list li a:focus {
    color: #ffffff
}

.department-list ul.department-list li span {
    bottom: 0px;
    display: none;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    left: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%
}

.department-list ul.department-list li:hover span {
    display: block
}

.department-list ul.department-list li.icon-1 a:before {
    content: "\f0b1"
}

.department-list ul.department-list li.icon-1 a:hover,
.department-list ul.department-list li.icon-1 a:active,
.department-list ul.department-list li.icon-1 a:focus {
    background: #d2644e
}

.department-list ul.department-list li.icon-2 a:before {
    content: "\f0d6"
}

.department-list ul.department-list li.icon-2 a:hover,
.department-list ul.department-list li.icon-2 a:active,
.department-list ul.department-list li.icon-2 a:focus {
    background: #eda89a
}

.department-list ul.department-list li.icon-3 a:before {
    content: "\f07a"
}

.department-list ul.department-list li.icon-3 a:hover,
.department-list ul.department-list li.icon-3 a:active,
.department-list ul.department-list li.icon-3 a:focus {
    background: #a6d4dd
}

.department-list ul.department-list li.icon-4 a:before {
    content: "\f108"
}

.department-list ul.department-list li.icon-4 a:hover,
.department-list ul.department-list li.icon-4 a:active,
.department-list ul.department-list li.icon-4 a:focus {
    background: #d8c3a0
}

.department-list ul.department-list li.icon-5 a:before {
    content: "\f044"
}

.department-list ul.department-list li.icon-5 a:hover,
.department-list ul.department-list li.icon-5 a:active,
.department-list ul.department-list li.icon-5 a:focus {
    background: #9abb90
}

.department-list ul.department-list li.icon-6 a:before {
    content: "\f0f6"
}

.department-list ul.department-list li.icon-6 a:hover,
.department-list ul.department-list li.icon-6 a:active,
.department-list ul.department-list li.icon-6 a:focus {
    background: #b4b4b4
}

.department-list ul.department-list li.icon-7 a:before {
    content: "\f0c0"
}

.department-list ul.department-list li.icon-7 a:hover,
.department-list ul.department-list li.icon-7 a:active,
.department-list ul.department-list li.icon-7 a:focus {
    background: #cea4b9
}

.department-list ul.department-list li.icon-8 a:before {
    content: "\f0ac"
}

.department-list ul.department-list li.icon-8 a:hover,
.department-list ul.department-list li.icon-8 a:active,
.department-list ul.department-list li.icon-8 a:focus {
    background: #7ac2c5
}

/* footer */



h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
}

/* Buttons override */
.btn {
    text-transform: uppercase;
    font-weight: 600;
}
.btn-lg {
    padding: 15px 40px;
    font-size: 16px;
    line-height: none;
    border-radius: 4px;
}
.btn-red {
    background-color: #dd5138;
    color: #fff;
    opacity: 0.8;
}
.btn-yellow {
    background-color: #fcd93b;
    color: #2a2a2a;
    opacity: 0.8;
}
.btn-yellow:hover {
    opacity: 1;
}
.btn-red:hover {
    opacity: 1;
}
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover {
    opacity: 0.65;
}
.content-ct {
    text-align: center;
}

/* ------------------
    Navigation 
------------------ */
.side-menu {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-73px);
    z-index: 99;
}
.side-menu ul li {
    text-align: right;
    margin: 10px 0;
}
.side-menu ul li a span {
    display: inline-block;
}
.side-menu ul li a span.menu-title {
    color: #fff;
    position: relative;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #dd5138;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 0;
}
.side-menu ul li a:hover span.menu-title {
    opacity: 1;
}
.side-menu ul li a span.dot {
    position: relative;
    background-color: #dd5138;
    border-radius: 2em;
    height: 10px;
    width: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.side-menu ul li a:hover span.dot {
    transform: scale(1.8);
}


.hero-header {
    background: center center ;
    background-size: cover;
    min-height: 300px;
    padding: 5em;
    color: #fff;
}
.hero-header h1 {
    margin: 1em 0 0 0;
    font-size: 80px;
    font-weight: 500;
    text-shadow: 4px 4px 4px black;
}
.hero-header h3{
    font-weight: 700;
}
.hero-header h4 {
    font-weight: normal;
    opacity: 0.6;
    letter-spacing: 1px;
    margin: 2em 0;
}
.hero-header .logo {
    max-width: 180px;
}
.hero-header .btn {
    margin-top: 3em;
}
.hero-header .rocket {
    max-width: 100%;
}
.me-row {
    padding: 30px 0;
}
.row-title {
    font-weight: 400;
}
.feature {
    padding: 20px;
    margin-top: 30px;
}
.feature span {
    font-size: 5em;
    color: #016cc7;
}

.speaker .feature {
    width: 31.333333%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
}
.speaker .feature:hover {
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speaker-img {
    max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}
ul.speaker-social li {
    list-style: none;
    display: inline-block;
    margin: 10px 5px;
}
ul.speaker-social li a {
    font-size: 0.2em;
    padding: 0 10px;
}
ul.speaker-social li a:hover {
    text-decoration: none;
}
a span.ti-facebook {
    color: #3b5998;
}
a span.ti-twitter-alt {
    color: #4099ff;
}

.tickets {
    background-color: #fcd93b;
}
.tickets .price {
    font-size: 4em;
    color: #dd5138;
    font-weight: 100;
}
.tickets .price sup {
    font-size: 0.4em;
}


.nav-tabs {
    margin-top: 20px;
}
.schedule .media {
    margin-top: 4em;
}
.schedule .media-object {
    max-width: 100px;
}
.schedule .media-heading {
    font-weight: 600;
    border-bottom: 2px solid #efefef;
    padding-bottom: 10px;
}
.schedule .media-body h5 {
    text-transform: uppercase;
    font-weight: 600;
}


.footer {
    background-color: #2a2a2a;
    margin-top: 30px;
    color: #fff;
}
.footer p {
    margin-bottom: 0;
}
.footer-credit {
    padding: 40px;
}
ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #fcd93b;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}


.contact {
    background-color: #3a3a3a;
    color: #fff;
    padding: 1em;
}
.contact h3 {
    margin-bottom: 30px;
}




.animated { 
    -webkit-animation-duration: 5s; 
    animation-duration: 5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    animation-iteration-count:infinite; 
    -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
} 

.bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
}

/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}


/* iPad Portrait */

@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}


/* iPad Landscape */

@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 20px;
    font-weight: 900;

}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.but{
    background: #dd5138;
    color:white;
    font-family: 'Dosis', sans-serif;
}
.but:hover{
    text-decoration: none;
}
#typed{
    font-size: 80px;
    color: #DD5138;
    float: left;
    font-weight: lighter;
    font-family: 'Dosis', sans-serif;
    /*font-family: 'Oswald', sans-serif;"*/

}
.head{
    margin-bottom: 20px;
}
.quotes{
    color:white;
    font-size: 30px;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
}

#lightgallery .col-sm-3{
    padding: 5px;
}
#sponsorcont .col-sm-3{
    padding: 5px; 
}
.a{
    width: 80px;
    height: 80px;
    
    border-radius: 40px;
    border-color: #25374f;
    border-style: solid;
}
.a:hover{
    cursor: pointer;
}
.b{
   
    margin-top: 36%;
    margin-bottom: auto;
    font-size: 24px;
    color: #25374f;

}
.qlli{
    padding: 5px;
}
.qlp{
    font-family: 'PT Sans Narrow', sans-serif;
    color:#666;
    font-size: 18px;
    font-weight: bolder;
}
.speakermainmaincol{
    margin-bottom: 10px;
}
.speakermaincol{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #f6f6f6;
    padding: 20px;  
}
.speakermaincol:hover{
    box-shadow: 3px 3px 10px #ccc;
    transform: translateY(-10px);
}
.speakerrow{
    text-align: center;
}
.speakerrow h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    color: #404142;
}
.speakerrow p{
    font-family: 'Dosis', sans-serif;
    font-weight: 200;
    color: #404142;
    font-size: 16px; 
}
.speakerimg{
    max-width: 40%;
    border: 4px solid #efefef;
    border-radius: 50%;
}

