/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

.notice_wrapper{
	position: absolute;
	top: 0px;
	width: 50%;
    margin-left: 35rem;
	z-index: 999;
	background-color: rgba(255,255,255,0.9);
    border-radius: 5rem;
	.alert {
		padding: 0.6rem;
	}
	p {
		text-align: center;
		padding: auto;
		margin: auto;
        margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 100;
		color: black;
		letter-spacing: 1px; 
	}
}

html,
body {
    height: 100%;
    background-color: white;
}



.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}




/* Home Page Carousel */

header.carousel {
    height: 70%;
    margin-top: -20px;

}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 25px;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

.panel-heading{
    .request_image {
        img {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
            display: block;
            margin: 0 auto;
            
        }
    }
}
.panel-body{    
    .description {
        color: #868686;
        line-height: 1.75;
        margin: 0;
    }
}    
.modal-body{
    .current_image {
        img {
            display: block;
            margin: 20px 0;
        }
    }
}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}
.footer-class {
    background-color: rgba(0,0,0,0.75);
    padding-bottom: 50px;
    margin-bottom: 0px;
    .row{
        .col-lg-12{
            margin-top: 20px;
            color: #fff;
            
            .previous{
                margin-left: 10rem;
                display: inline;
            }
            .next {
                margin-left: 50rem;
                display: inline;
            }
        }
    }    
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
