<p>Welcome to the MNNIT Alumni portal, 

<br>Thank You for signing up! To avoid fake registrations on the portal, we have set-up a verification process as follows -</p> 
<ol>
<li> Use your existing dean academics user ID and password to verify.</li> 

<li> Upload photo of your id card/degree/relevant certificate which proves your association with the college. </li>

<li> If neither, you could simply send us your photo within the campus, write to us about your college memories or simply contact the association to verify your identity. </li>
</ol>

<p>Please follow this link below to continue with this verification process - </p>

<p><%= link_to 'Verify my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Note - Our team is working extremely hard to ensure that you get the best out of this platform. We welcome your feedback and suggestions to further improvise the concept. </p>

<p>Cheers! 
<p>Thank You for joining back!</p>

<br> MNNIT - Alumni Cell Team</p>
