<p>Welcome <%= @email %>!</p>

<p>We are very happy to welcome you back to MNNIT.
<br>MAA is trying to build up a platform for all the respected Alumni to get together.</p>
<p>You can confirm your account by clicking this link below: </p>

<p><%= link_to 'Verify my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>Further after logging to the site, you need to send an activation request which may either contain your Academics details or you can also send the request using a photo proof.</p>
<p>Thank You for joining back!</p>
<p>MNNIT Alumni Association</p>
<p>MNNIT-Allahabad, U.P, India.</p>
